.button_active{
    background-color: #3971b8;
    width: 120px;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    color: #fbfcee;
    font-size: 18px;
    font-weight: 400;
}

.button_inactive {
    background-color: transparent;
    width: 120px;
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    color: #fbfcee;
    font-size: 18px;
    font-weight: 400;
}

.button_inactive:hover {
    background-color: #414927;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}